PPVT_HTTP_ADDR=0.0.0.0:8090
PPVT_AUTH_URL=http://localhost:8091
PPVT_CORE_URL=http://localhost:8090
PPVT_DATABASE_DRIVER=mysql
PPVT_DATABASE_HOST=127.0.0.1
PPVT_DATABASE_PORT=3306
PPVT_DATABASE_USERNAME=root
PPVT_DATABASE_PASSWORD=root
PPVT_DATABASE_SCHEMA=ppvt
PPVT_REDIS_ENABLED=false
PPVT_REDIS_HOST=127.0.0.1
PPVT_REDIS_PORT=6379
PPVT_REDIS_PASSWORD=
PPVT_REDIS_DB=0
PPVT_LOG_LEVEL=INFO
PPVT_SECRET=ppvt-dev-secret
PPVT_API_MANAGE_PRIVATE_SEED=
PPVT_API_USER_PRIVATE_SEED=
PPVT_API_AUTHN_PRIVATE_SEED=
PPVT_API_AUTHZ_PRIVATE_SEED=
