PPVT_INTERNAL_ORGANIZATION_ID=
PPVT_SYSTEM_PROJECT_ID=
PPVT_MANAGE_API_APPLICATION_ID=
PPVT_USER_API_APPLICATION_ID=
PPVT_AUTHN_API_APPLICATION_ID=
PPVT_AUTHZ_API_APPLICATION_ID=
PPVT_CONSOLE_APPLICATION_ID=
PPVT_PORTAL_APPLICATION_ID=
PPVT_CONSOLE_ADMIN_ROLE_ID=
PPVT_ADMIN_USER_ID=
